<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Exemple sinatra</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-4">
		<div class="jumbotron">BIENVENUE SUR LA FORMATION DE SINATRA</div>
		<h1 style="color: pink; text-align: center;">LIstes des fruits</h1>
		<% for f in @fruit %>
			<h4 style="text-align: center;"><%= f %></h4>
		<% end %>
	</div>
</body>
</html>